@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply text-zinc-700 dark:text-zinc-200 bg-zinc-200 dark:bg-zinc-900;
}

pre {
  padding: 1rem;
  overflow: auto;
  background-color: #18181b !important;
}

pre[data-linenos] {
  padding: 1rem 0;
}

pre table td {
  padding: 0;
}

pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}

pre mark {
  display: block;
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

::-webkit-scrollbar {
  width: 50px;
}

.content {
  @apply space-y-4;
}

.content h1 {
  @apply text-3xl hover:underline cursor-pointer;
}

.content h2 {
  @apply text-2xl hover:underline cursor-pointer;
}

.content h3 {
  @apply text-xl hover:underline cursor-pointer;
}

.content pre {
  @apply overflow-x-auto rounded-md p-2;
}

.content img {
  @apply mx-auto rounded-md shadow-2xl w-3/4 my-3;
}

.content ul {
  @apply list-disc ml-3;
}

.content ol {
  @apply list-decimal ml-3;
}

.content p {
  @apply leading-relaxed;
}

.content blockquote {
  @apply bg-zinc-100 dark:bg-zinc-700 p-4 rounded-md shadow-2xl italic border;
}

:not(pre) > code {
  @apply px-2 py-1 rounded-md bg-zinc-300 dark:bg-zinc-900;
}

.content a {
  @apply underline;
}