@font-face {
    font-family: "Vulf Sans";
    font-style: italic;
    font-weight: 800;
    src: url("Vulf_Sans-Black_Italic.woff2");
}

@font-face {
    font-family: "Vulf Sans";
    font-style: normal;
    font-weight: 800;
    src: url("Vulf_Sans-Black.woff2");
}

@font-face {
    font-family: "Vulf Sans";
    font-style: italic;
    font-weight: 700;
    src: url("Vulf_Sans-Bold_Italic.woff2");
}

@font-face {
    font-family: "Vulf Sans";
    font-style: normal;
    font-weight: 700;
    src: url("Vulf_Sans-Bold.woff2");
}

@font-face {
    font-family: "Vulf Sans";
    font-style: italic;
    font-weight: 400;
    src: url("Vulf_Sans-Italic.woff2");
}

@font-face {
    font-family: "Vulf Sans";
    font-style: italic;
    font-weight: 300;
    src: url("Vulf_Sans-Light_Italic.woff2");
}

@font-face {
    font-family: "Vulf Sans";
    font-style: normal;
    font-weight: 300;
    src: url("Vulf_Sans-Light.woff2");
}

@font-face {
    font-family: "Vulf Sans";
    font-style: Italic;
    font-weight: 600;
    src: url("Vulf_Sans-Medium_Italic.woff2");
}

@font-face {
    font-family: "Vulf Sans";
    font-style: normal;
    font-weight: 600;
    src: url("Vulf_Sans-Medium.woff2");
}

@font-face {
    font-family: "Vulf Sans";
    font-style: normal;
    font-weight: 400;
    src: url("Vulf_Sans-Regular.woff2");
}

body {
    background-color: #fff;
    padding:50px;
    font: 14px/1.5 "Vulf Sans";
    color:#727272;
    font-weight:400;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color:#222;
    margin:0 0 20px;
  }
  
  p, ul, ol, table, pre, dl {
    margin:0 0 20px;
  }
  
  h1, h2, h3 {
    line-height:1.1;
  }
  
  h1 {
    font-size:28px;
  }
  
  h2 {
    color:#393939;
  }
  
  h3, h4, h5, h6 {
    color:#494949;
  }
  
  a {
    color:#267CB9;
    text-decoration:none;
  }
  
  a:hover, a:focus {
    color:#069;
  }
