{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ config.title }} | {% block title %}{% endblock title %}</title>
  <meta name="description" content="{% block description %}{% endblock description %}">
  <link rel="stylesheet" href="/css/style.css"/>
  {% block head %}{% endblock head %}
</head>

<body>
  <div class="flex flex-col py-8 px-4 md:w-[46.2em] mx-auto min-h-full space-y-3">
    <header class="flex items-center border-b border-dotted">
      <h1 class="grow text-2xl font-semibold">
        <a href="{{ config.base_url }}">{{ config.title }}</a>
      </h1>
      <nav class="flex">
      {% for page in config.extra.header_pages %}
        <div class="p-3">
          <a href="{{ config.base_url }}{{ page.path }}">
            {{ page.name }}
          </a>
        </div>
      {% endfor %}
      </nav>
    </header>
    <section class="p-4 space-y-3">{% block content %}{% endblock content %}</section>
    <footer class="w-full p-2 flex justify-center border-t border-dotted">
      <p class="italic text-sm">&copy; 2023 Grant Handy</p>
    </footer>
  </div>
</body>

</html>