<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ config.title | safe }} | {% block title %}{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css"/>
</head>

<body class="min-w-screen min-h-screen flex flex-col p-3 bg-neutral-600 text-neutral-200">
  <!-- header -->
  <header class="flow-root bg-neutral-700">
    <div class="float-left pl-3">
      <h1 class="align-top text-xl font-semibold p-0">
        <a href="{{ config.base_url }}">
          {{ config.title | safe }}
        </a>
        &nbsp;
        <span class="font-black text-orange-500">
          ~{% block path %}{% endblock path %}>
        </span>
        _
      </h1>
    </div>
    <nav class="float-right h-full flex">
      {% for menu in config.extra.menus %}
        <a
          href="{{ config.base_url }}{{ menu.url }}"
          class="grow px-2 py-1 text-md hover:bg-neutral-800"
        >
          {{ menu.name }}
        </a>
      {% endfor %}
    </nav>
  </header>

  <!-- main content -->
  <div class="grow p-2">
    <h2 class="text-2xl font-bold">{% block header %}{% endblock header %}</h2>
    {% block content %} {% endblock %}
  </div>

  <!-- footer -->
  <footer class="flex items-center justify-center w-full p-2 bg-neutral-700">
    <p class="text-sm italic">&copy; {{ config.extra.copyright | safe }}</p>
  </footer>
</body>

</html>
