{% extends "base.html" %}

{% block head %}
{% if page.extra.katex %}
{{ macros::katex() }}
{% endif %}
{% if page.extra.geogebra %}
{{ macros::geogebra() }}
{% endif %}
{% endblock head %}

{% block content %}
<p class="absolute top-2 left-2 italic underline text-sm"><a href="/">Return to main page</a></p>

<article class="prose">
    <h1 class="mb-1">{{ page.title | safe }}</h1>
    <div class="space-y-2 mb-8">
        {% if page.date %}
        <span class="text-sm italic font-normal">Written {{ page.date | safe }}</span>
        {% endif %}
        {% if page.description %}
        <blockquote class="italic">{{ page.description | safe }}</blockquote>
        {% endif %}
    </div>
    {{ macros::break() }}
    {{ page.content | safe }}
</article>
{% endblock content %}