{{ .Page.Store.Set "hasGeogebra" true }}

<script>
  window.addEventListener("load", function() { 
    new GGBApplet({
      appName: "geometry",
      id: '{{ .Get "name" | default "geogebra" }}',
      showToolBar: false,
      showZoomButtons: false,
      showAlgebraInput: false,
      showLogging: false,
      enableRightClick: false,
      enableShiftDragZoom: false,
      preventFocus: true,
      showMenuBar: false,
      appletOnLoad: (api) => {
        api.setCoordSystem({{ .Get "coords" | safeJS }});  
      },
      filename: '{{ .Site.BaseURL }}{{ .Get "file" }}'
    }).inject('{{ .Get "name" | default "geogebra" }}');
  });
</script>

<figure class="center">
  <div id='{{ .Get "name" | default "geogebra" }}' style="border-radius: 8px; overflow: hidden;"></div>
  <figcaption class="center">{{ .Get "caption" | markdownify }}</figcaption>
</figure>
